@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contact Management</h1>
    <p><a asp-page="/Contacts/Index" class="btn btn-primary">View Contacts</a></p>
</div>
